<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./common/header.html') %>
	<title>
		<%= htmlWebpackPlugin.options.title %> - KMALL电商平台
	</title>
</head>
<body>
	<%= require('html-loader!./common/nav.html') %>
	<%= require('html-loader!./common/search.html') %>
	<div class="user-page-wrap">
		<div class="container clearfix">
			<%= require('html-loader!./common/side.html') %>
			<div class="side-content">
			</div>
		</div>
	</div>


	<%= require('html-loader!./common/footer.html') %>
</body>
</html>