/*
* @Author: TomChen
* @Date:   2018-09-04 16:04:33
* @Last Modified by:   TomChen
* @Last Modified time: 2018-09-08 11:45:51
*/
.search-box{
	background-color: #fff;
	height: 80px;
	padding: 18px 0;
	box-sizing: border-box;
	margin-bottom: 30px;
	border-bottom: 1px solid #f21;
}
.logo{
	float: left;
}
.search{
	float: left;
}
.search-input{
	width: 400px;
	margin-left: 150px;
	outline: none;
	border: 2px solid #f21;
	height: 38px;
	padding-left: 10px;
	font-size: 14px;
	float: left;
}
.btn-search{
	height: 42px;
	line-height: 42px;
	float: left;
}